@font-face {
    font-family: "josefinSlab-semibold";
    src: url(../src/Fonts/JosefinSlab/JosefinSlab-SemiBold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "josefinSlab-thin-italic";
    src: url(../src/Fonts/JosefinSlab/JosefinSlab-LightItalic.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "italianno";
    src: url(../src/Fonts/Italianno/Italianno-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "montserrat";
    src: url(../src/Fonts/MontSerrat/Montserrat-Medium.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "montserrat-thin";
    src: url(../src/Fonts/MontSerrat/Montserrat-Light.ttf) format("truetype");
    font-weight: 100;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, p, div, img, option, select, body, a, ul, li, header, footer{
    margin: 0;
    padding: 0;
}

body{
    --background: #efece4;
    background-color: var(--background);
    color: #565656;
}

.App{
    overflow: hidden;
    position: relative;
}

.first__page{
    height: clamp(500px, 90vh, 1000px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
    background-image: linear-gradient(to bottom, #cecece, #d4d4d4, #d9d9d9, #dfdfdf, #e5e5e5);
}

.header{
    position: fixed;
    width: 100%;
    top: 10%;
    z-index: 2000;
}

.small-header{
    animation: small_header 1s ease-out both;
}

@keyframes small_header {
    0%{
        top: 10%;
        background-color: transparent;
        box-shadow: 0 0 0;
    }
    100%{
        top: 0%;
        background-color: #a4a4a4c9;
        box-shadow: 0 5px 10px #0000007a;
    }
}

.nav{
    width: clamp(370px, 50%, 1000px);
    padding: 10px;
    animation: aparecer 3s both;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.nav .span{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    animation: border 5s ease-in-out infinite;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    width: 100%;
    margin: auto;
}

.nav__item{
    font-family: Calibri, montserrat;
    list-style: none;
    transition: background-color 0.4s;
    border-radius: 10px;
    padding: 10px 0px;
}

.nav__item:hover{
    background-color: #b2b2b278;

}

.nav__item a{
    text-decoration: none;
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    color: #000;
    padding: 10px 10px ;
}

.logo{
    width: clamp(300px, 40vw, 400px);
    z-index: 10;
    filter: drop-shadow(10px 10px 3px #0000005b);
    animation: aparecer_costado 1s both;
    margin-top: 100px;
}

h1{
    font-family: Calibri, montserrat;
    color: #565656;
    font-weight: 100;
    font-size: clamp(2.2rem, 5.3vw, 4rem);
    animation: aparecer 3s both;
}

.close__button, .open__button{
    display: none;
}

@media screen and (max-width:50rem) {

    .open__button{
        display: block;
        border: none;
        background: transparent;
        color: #4f4f4f;
        font-size: 3rem;
        cursor: pointer;
        text-align: center;
        margin: auto;
    }

    .close__button{
        display: block;
        margin-left: 10%;
        display: block;
        border: none;
        background: transparent;
        color: #dcdcdc;
        font-size: 3rem;
        cursor: pointer;
    }

    .nav{
        display: flex;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgb(54, 54, 54);
        height: 100vh;
        width: 60%;
        z-index: 1000;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        filter: drop-shadow(0 0 0 100vmax #00000068);
        padding-top: 2rem;
        box-shadow: 0 0 0 100vmax #2c2a2a5b;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s;
        margin: 0;
    }

    .nav__item{
        border-left: 1px solid #a49797;
        border-radius: 0px;
        padding: 0px;
        text-wrap: nowrap;
        width: fit-content;
    }

    .nav__item a{
        font-size: clamp(0.7rem, 3dvw, 1.2rem);
        color: #a8a8a8;
        vertical-align: middle;
    }

    .header .visible{
        opacity: 1;
        visibility: visible;
        transform: translateX(1%);
    }

    .nav__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 20px;
    }
}


/* ANIMACIONES FIRST PAGE */

@keyframes aparecer_costado {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes border {
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* Cajas */

.piedras img{
    width: 100%;
    position: absolute;
    max-height: 30vh;
    filter: drop-shadow(0 30px 10px #00000083);
    transform: translateY(-1%);
}

.cajas{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #e5e5e5;
    padding-bottom: 30px;
}

.caja{
    box-shadow: 0px 0px 20px #000000a6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aparecer_abajo 1.5s 0.4s both;
    transition: scale 0.5s, box-shadow 0.5s;
    width: clamp(250px, 7%, 500px);
    text-align: center;
    height: 20vh;
}

.caja:hover{
    scale: 1.1;
    box-shadow: 0px 0px 20px #000000;
}

.caja__text{
    font-family: montserrat;
    font-size: clamp(1rem, 2vw, 1.4rem);
    text-align: center;
    width: 80%;
    
}

@media screen and (max-width: 65rem){
    .cajas{
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        gap: 5vh;
        align-items: center;
    }

    .caja{
        width: 60%;
        text-align: center;
    }

    .caja__text{
        text-align: center;
    }
}

/* Animaciones cajas */

@keyframes aparecer_abajo {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
}

/* Conocenos section*/

.conocenos{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: clamp(650px, 70vh, 1200px);
}

.conocenos__container{
    width: 80%;
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-in-out;
}

.animate {
    opacity: 1;
    transform: scale(1);
}


.conocenos__title{
    font-family: montserrat;
    font-size: 3rem;
    margin-top: 50px;
}

.conocenos__text{
    font-family: montserrat;
    width: 80%;
    margin-top: 10px;
    font-size: clamp(0.8rem, 3vw, 1.3rem);
    line-height: 38px;
    filter: drop-shadow(0 0 2px #fff);
}

.conocenos__slogan{
    font-family: josefinSlab-thin-italic;
    font-weight: 100;
    margin-top: 50px;
    font-size: clamp(1.6rem, 5vw, 4rem);
}

.estatua{
    position: absolute;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    width: 100%;
    bottom: 0;
}

/* Clientes section */

.clientes{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12vh;
    padding-bottom: 100px;
}

.clientes__title, .buzos__title{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    font-family: montserrat;
    width: clamp(350px, 50%, 900px);
    box-shadow: 0 0 20px #7979799a;
    padding: 17px 10px;
    background-color: #efece4;
    border-radius: 0px 12px 12px 0px;
    font-size: 2rem;
}


@keyframes aparecer_derecha {
    from{
        transform: translateX(100%);
        opacity: 0.2;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}


.clientes__text{
    align-self: center;
    width: 70%;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-family: montserrat-thin;
}

.carrousel{
    width: 80%;
    max-width: 1100px;
    margin: auto;
    box-shadow: 0px 0px 10px #898888;
    padding: 10px;
    background-color: #f8f8efda;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 20px;
    position: relative;
}


.carrousel::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    background: linear-gradient(to right, #6e6e6e92, transparent);
    height: 100%;
    
}

.carrousel::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background: linear-gradient(to left, #6e6e6e92, transparent);
    height: 100%;
}


.client__logo{
    max-width: 200px;
    max-height: 150px;
    margin: 20px 40px;
    vertical-align: middle;
}

.logos__wrapper{
    display: flex;
}

.sliderNew{
    animation: slider 12s infinite linear;
}


/* animacion clientes */ 

@keyframes slider {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
    
}

@media screen and (max-width: 40rem){
    .carrousel{
        width: 95%;
    }
}

/* Delantales section */

.delantales, .otros{
    position: relative;
    height: fit-content;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    padding-top: 100px;

}


.delantales__title, .otros__title{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    font-family: montserrat;
    width: clamp(350px, 50%, 700px);
    box-shadow: 0 0 20px #7979799a;
    padding: 17px 10px;
    background-color: #efece4;
    border-radius: 12px 0px 0px 12px;
    font-size: 2rem;
}

.delantal__grande, .remera__grande{
    position: absolute;
    top: -5%;
    filter: drop-shadow(0 0 8px #000);
    left: 10%;
    opacity: 0.7;
    z-index: -2;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px;
    gap: 40px;
    width: 90%;
    margin: auto;
    max-height: 170vh;
}

.galeria__img {
    background-color: #00000032;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #0000009a;
    width: 100%;
    min-height: 300px;
    transition: all 0.6s;
}

.galeria__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hidden{
    scale: 0.7;
    opacity: 0;
    transition: all 0.6s ease-out;
}

.mostrar{
    scale: 1;
    opacity: 1;
}

@keyframes galeria_animation {
    from{
        scale: 30%;
        opacity: 0.2;
    }
    to{
        scale: 100%;
        opacity: 1;
    }
    
}

.galeria__img:nth-child(1) {
    grid-column-start: span 2;
}


.galeria__img:nth-child(4){
    grid-row-start: span 2;
}

.galeria__img:nth-child(5){
    grid-row: span 2;
}


.galeria__img:hover{
    scale: 1.03;
    box-shadow: 0px 0px 20px #000000;
}

.galeria__accesorios .galeria__img:nth-child(4){
    grid-row: span 1;
}

.galeria__accesorios .galeria__img:nth-child(5){
    grid-row: span 1;
}

@media screen and (max-width: 800px) {
    .galeria{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        grid-template-rows: 200px;
    }

    .galeria__img{
        min-height: 200px;
        max-height: 300px;
    }
    .galeria__img:nth-child(6){
        grid-column: span 2;
    }
}


/* buzos section */


.buzos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;

}

.buzo__grande {
    max-width: 450px;
    position: absolute;
    opacity: 0.7;
    z-index: -4;
    top: -5%;
    right: 10%;
    
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
}

.footer__wrapper{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;
    background-color: #c5c5c5;
}

.contacto__logo{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rdv__small-logo{
    max-width: 120px;
    max-height: fit-content;
    filter: drop-shadow(0px 0px 4px #00000066);
}

.contacto{
    display: flex;
    flex: 3;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contacto__title{
    font-size: clamp(1.7rem, 2.3vw, 3rem);
    font-weight: bold;
}

.contacto__redes{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.red{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: calc(100% / 3);
}

.red a {
    color: #363636;
    transition: color .5s;
    font-size: clamp(0.6rem, 1vw, 1rem);
}

.red a:hover{
    color: #1b1b1b;
}

.footer__part2{
    background-color: #5f5d5d;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    color: #dad8d8;
}

.footer__part2 p{
    font-size: 0.7rem;
}

.footer__part2 p a{
    color: #FFF;
    font-size: clamp(0.6rem, 0.9vw, 1rem);
    font-style: italic;
    padding: 5px;
    transition: color 0.4s;
}

.footer__part2 p a:hover{
    color: #27ff32;
}

.footer__part2 p, .footer__part2 span{
    font-size: clamp(0.5rem, 0.8vw, 0.9rem);
}

@media screen and (max-width: 58rem) {
    .footer__wrapper{
        flex-direction: column;
        gap: 40px;
    }

    .contacto__redes{
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        align-items: center;
    }

    .contacto{
        gap: 30px;
    }

    .red a{
        font-size: 1rem;
        text-wrap: nowrap;
    }
}


/* ANIMACIONES */

.aparecerDerecha{
    transform: translateX(-100%);
    transition: all 2s;
}

.animacionDerecha{
    transform: translateX(0%);
}

.aparecerIzquierda{
    transform: translateX(100%);
    transition: all 2s;
}

.animacionIzquierda{
    transform: translateX(0%);
}